@page "/"

<PageTitle>Home</PageTitle>

@inject ILogger<Home> Logger

<EditForm Model="@Model1" OnSubmit="@Submit1" FormName="Model1">
    <div>
        <label>
            Holodeck 1 Identifier:
            <InputText @bind-Value="Model1!.Id" />
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>

<EditForm Model="@Model2" OnSubmit="@Submit2" FormName="Model1">
    <div>
        <label>
            Holodeck 2 Identifier:
            <InputText @bind-Value="Model2!.Id" />
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public Holodeck? Model1 { get; set; }

    [SupplyParameterFromForm]
    public Holodeck? Model2 { get; set; }

    protected override void OnInitialized()
    {
        Model1 ??= new();
        Model2 ??= new();
    }

    private void Submit1()
    {
        Logger.LogInformation("Submit1: Id = {Id}", Model1?.Id);
    }

    private void Submit2()
    {
        Logger.LogInformation("Submit2: Id = {Id}", Model2?.Id);
    }

    public class Holodeck
    {
        public string? Id { get; set; }
    }
}