@namespace Bizer.AspNetCore.Components

@code {
    [Parameter][EditorRequired] public MenuItem Item { get; set; }
}
<li class="nav-item dropdown">
    <a class="nav-link @(Item.Disabled?"disabled":"") dropdown-toggle" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <MenuTitle Item="Item" />
    </a>
    <ul class="dropdown-menu">

        @foreach (var subItem in Item.Items)
        {
            @if (subItem.Items.Any())
            {
                <MenuDropdownItem Item="subItem" />
            }
            else
            {
                <li>
                    @if (subItem.Divider)
                    {
                        <hr class="dropdown-divider">
                    }
                    else
                    {
                        <a class="dropdown-item @(subItem.Disabled?"disabled":"")" href="@subItem.Link">
                            <MenuTitle Item="subItem" />
                        </a>
                    }
                </li>
            }
        }
    </ul>
</li>