@namespace Bizer.AspNetCore.Components
@foreach (var item in Items)
{
    if (item.Items.Any())
    {
        <MenuDropdownItem Item="item" />
    }
    else
    {
        <li class="nav-item">
            <NavLink class="@(GetClass(item))" href="@item.Link">
                <MenuTitle Item="item"/>
            </NavLink>
        </li>
    }
}

@code {
    [Parameter][EditorRequired] public IEnumerable<MenuItem> Items{ get; set; }


    string? GetClass(MenuItem item) => HtmlHelper.Instance.Class().Append("nav-link").Append("disabled", item.Disabled).ToString();
}
