@page "/badge"

<Badge Color="Color.Primary">Primary</Badge>
<Badge Color="Color.Info">Info</Badge>
<Badge Color="Color.Secondary">Secondary</Badge>
<Badge Color="Color.Success">Success</Badge>
<Badge Color="Color.Warning">Warning</Badge>
<Badge Color="Color.Danger">Danger</Badge>
<Badge Color="Color.Light">Light</Badge>
<Badge Color="Color.Dark">Dark</Badge>

<br />
<br />
<br />

<Button Color="Color.Success" AdditionalClass="position-relative">
    Inbox
    <Indicator Text="99+" />
    <br />
</Button>
<Button Color="Color.Info" AdditionalClass="position-relative">
    Inbox
    <Indicator />
</Button>
<Button Color="Color.Primary" AdditionalClass="position-relative">
    Inbox
    <Indicator Dot />
</Button>