@page "/modal"

@inject IDialogService Dialog

<Button @onclick="@(e=>Dialog.OpenMessage("显示点什么"))">随便点</Button>



<Button Color="Color.Primary" @onclick="Confirm">
    删除
</Button>



@code{
    async Task Confirm(MouseEventArgs e)
    {
        var reference = await Dialog.OpenConfirm("确定删除吗？");
        var result = await reference.Result;
        if (result.Cancelled)
        {
            await Dialog.OpenMessage("取消");
        }
    }
}