@inherits LayoutComponentBase

<Navbar BrandVisibile/>

<div class="row">
    <div class="col-lg-2" style="width:250px">
       <SideMenu/>
    </div>
    <div class="col" style="overflow:auto">
        <Container Fluid>
            @Body
        </Container>
    </div>
</div>